.DS_Store
*.suo
*.csproj.user
bin
obj
*.pdb
_ReSharper*
*.ReSharper.user
*.ReSharper
desktop.ini
Thumbs.db
.eprj
.idea
.anvil
*node_modules
*npm-debug*
report/
bower/
public/css
public/js
server/log
client/coverage
_spec-tmp
/coverage